#buttons-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #0f0f0f;
    position: relative;
    border-radius: 10px;
}

.btns {
    font-size: 20px;
    border-radius: 50px;
    border: none;
    height: 72px;
    width: 72px;
    margin: 3px;
    background-color: #222222;
    color: white;
    cursor: pointer;
    outline: none;
}

.btns:hover {
    opacity: 0.7;
}

#clear {
    width: 150px;
    background-color: #b8e994;
    color: black;
}

#divide, #multiply, #subtract, #add {
    background-color: #00d2d3;
    color: black;
}

#equals {
    background-color: white;
    color: black;
    position: absolute;
    height: 150px;
    bottom: 9px;
    right: 9px;
}

#zero {
    width: 150px;
    background-color: #b8e994;
    color: black;
}