#formula {
    height: 30px;
    text-align: end;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 25px;
}

#display {
    font-size: 35px;
    text-align: end;
    padding: 5px 10px;
    font-weight: 600;
}